* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #121116;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 24px 135px;
}
nav {
  display: flex;
  gap: 20px;
  color: #605d6c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn {
  padding: 0.6em 1.5em;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
#SignIn {
  background: none;
  border: none;
}
#SignUp, #start-btn{
  background-color: #7557ff;
  color: #fff;
  border: #7557ff;
  text-align: center;
}
.active {
  color: #7557ff;
}
.content {
  display: flex;
  margin: 100px 135px;
  gap: 167px;
  align-items: center;
}
.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
}
#home-title {
  font-size: 70px;
}
.subtitle {
  margin: 18px 0px 38px 0px; 
  color: #605d6c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* .business, .pricing {
  display: flex;
  padding: 4.8rem;
  gap: 6em
} */
/* .pricing {
  display: flex;
  padding: 5rem 3rem;
  gap: 10em
} */